n8n-node.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "779732ef-b8ee-44cf-89eb-098c72b809e7",
              "name": "X-API-KEY",
              "value": "54d1cc599991ef63a26e42547fbba25ecebe24fa",
              "type": "string"
            },
            {
              "id": "398028c4-62ee-4668-b7a7-7a3ed8a63bab",
              "name": "URL",
              "value": "https://s13emagst.akamaized.net/products/114248/114247192/images/res_a8501836cf8072411906c36e707e26c9.png",
              "type": "string"
            },
            {
              "id": "79d49d21-5986-49de-bfdd-d64251eb9107",
              "name": "product_name",
              "value": "test product",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        -160
      ],
      "id": "2689c2b8-f32e-4548-ae78-891d83878809",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/lens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "={{ $('Edit Fields').item.json['X-API-KEY'] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $('Edit Fields').item.json.URL }}\",\n  \"num\": 50\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1328,
        64
      ],
      "id": "f0dd73f2-5eaa-442a-8eed-40d42bfcea56",
      "name": "Serper search"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().flatMap((item) =>\n  (item.json.organic || []).map((result) => ({\n    json: {\n      title: result.title || '',\n      source: result.source || '',\n      link: result.link || '',\n      imageUrl: result.imageUrl || result.thumbnailUrl || '',\n    },\n  }))\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        64
      ],
      "id": "445077c6-3e8f-45e6-8633-e0717e73b57a",
      "name": "format results"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Edit Fields').item.json.product_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1bpH60V-O6qEgUeIYkayeqAB8rLhpkHF4",
          "mode": "list",
          "cachedResultName": "alin-products",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1bpH60V-O6qEgUeIYkayeqAB8rLhpkHF4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -944,
        -160
      ],
      "id": "bdf8b3cc-df40-47ed-9612-2bebaf080e5d",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eeSOW0vgTVppMvdM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "title": "={{ $json.product_name }}",
        "sheetsUi": {
          "sheetValues": [
            {
              "title": "product urls"
            }
          ]
        },
        "options": {}
      },
      "id": "b36fb8c3-a2c4-407e-80f1-ed085a487a18",
      "name": "Create New Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1136,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "euNHfDMNweo6OWev",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Create New Sheet').item.json.sheets[0].properties.sheetId }}"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -320,
        -160
      ],
      "id": "4aa0c0ef-1a82-42a0-a0d7-86be7e032553",
      "name": "Create Columns",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "euNHfDMNweo6OWev",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -736,
        -160
      ],
      "id": "9cd56cbc-d311-4762-acf1-c5252865af67",
      "name": "Move Sheet file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "eeSOW0vgTVppMvdM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      imageUrl: \"\",\n      title: \"\",\n      source: \"\",\n      link: \"\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -160
      ],
      "id": "04af7148-a1be-4b98-ae40-777c4fee1982",
      "name": "Sheet headers"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        -160
      ],
      "id": "1a00fa66-e2bc-4dfb-a229-7a34f0279089",
      "name": "clean first row after column",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "euNHfDMNweo6OWev",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.spreadsheetId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Create New Sheet').item.json.sheets[0].properties.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "source": "={{ $json.source }}",
            "link": "={{ $json.link }}",
            "imageUrl": "={{ '=IMAGE(\"' + ($json.imageUrl || '') + '\",4,100,100)' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageUrl",
              "displayName": "imageUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        64
      ],
      "id": "959ed94e-83d3-4f90-9f16-5496125c6183",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "euNHfDMNweo6OWev",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const productPatterns = [\n  /amazon\\.[a-z.]+\\/.*\\/dp\\//i,\n  /aliexpress\\.com\\/(item|i)\\//i,\n  /ebay\\.[a-z.]+\\/itm\\//i,\n  /walmart\\.[a-z.]+\\/ip\\//i,\n  /wayfair\\.com\\/.*\\/pdp\\//i,\n];\n\n// Optional: block obvious non-product pages\nconst excludePatterns = [\n  /showroom/i,\n  /category/i,\n  /search/i,\n];\n\nreturn items.filter(item => {\n  const url = item.json.link;\n\n  if (!url) return false;\n\n  const isProduct = productPatterns.some(regex => regex.test(url));\n  const isExcluded = excludePatterns.some(regex => regex.test(url));\n\n  return isProduct && !isExcluded;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        272
      ],
      "id": "742e8eb0-0750-44d0-8dac-9cc7b7d0d539",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "mutation",
        "graphqlMutation": "mutation CreateProductWithMedia($product: ProductCreateInput!, $media: [CreateMediaInput!]) {\n  productCreate(product: $product, media: $media) {\n    product {\n      id\n      title\n      descriptionHtml\n      status\n      templateSuffix\n      variants(first: 1) {\n        nodes {\n          id\n          price\n          compareAtPrice\n        }\n      }\n      media(first: 30) {\n        nodes {\n          id\n          alt\n          mediaContentType\n        }\n      }\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "graphqlMutationVariables": "={\n  \"product\": {\n    \"title\": \"{{ $json.product_title }}\",\n    \"descriptionHtml\": \"{{ $json.description_html }}\",\n    \"status\": \"{{ $json.status }}\",\n    \"templateSuffix\": \"{{ $json.template_suffix }}\"\n  },\n\n \"media\":\n  {{ JSON.stringify(\n    $json.media_links.map(url => ({\n      originalSource: url,\n      alt: 'product image',\n      mediaContentType: 'IMAGE'\n    })),\n    null,\n    2\n  ) }}\n} "
      },
      "type": "n8n-nodes-shopify-graphql.shopifyGraphql",
      "typeVersion": 1,
      "position": [
        -928,
        752
      ],
      "id": "3480954f-e233-4d32-9e95-d0097b40649a",
      "name": "Create Product1",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "MQCNOuZx8pVyyqhd",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "mutation",
        "graphqlMutation": "mutation UpdateVariantPricing($productId: ID!, $variants: [ProductVariantsBulkInput!]!) {\n  productVariantsBulkUpdate(productId: $productId, variants: $variants) {\n    productVariants {\n      id\n      price\n      compareAtPrice\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "graphqlMutationVariables": "={\n  \"productId\": \"{{ $json.data.productCreate.product.id }}\",\n  \"variants\": [\n    {\n      \"id\": \"{{ $json.data.productCreate.product.variants.nodes[0].id }}\",\n      \"price\": \"{{ $('Product FULL DATA - no images').item.json.price }}\",\n      \"compareAtPrice\": \"{{ $('Product FULL DATA - no images').item.json.compare_at_price }}\"\n    }\n  ]\n}"
      },
      "type": "n8n-nodes-shopify-graphql.shopifyGraphql",
      "typeVersion": 1,
      "position": [
        -736,
        752
      ],
      "id": "63979e85-6ab0-4fac-8c77-41ccf85d8b9e",
      "name": "set price and compare at price1",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "MQCNOuZx8pVyyqhd",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332c6dc8-15dc-48e4-806a-3695ebba8ba7",
              "name": "product_title",
              "value": "product title from N8N no images",
              "type": "string"
            },
            {
              "id": "30861f38-5396-4a42-886d-2d0d7550a98f",
              "name": "description_html",
              "value": "<p>Product description from graphql</p>",
              "type": "string"
            },
            {
              "id": "de57e996-dfe3-4b19-8c56-1262aa68acbb",
              "name": "status",
              "value": "DRAFT",
              "type": "string"
            },
            {
              "id": "5b863002-c4de-41ff-961b-8f0bbc71b46f",
              "name": "template_suffix",
              "value": "pagepilot-Standard-GLOBAL",
              "type": "string"
            },
            {
              "id": "741bda70-720f-49ce-85fb-b9fe0fd20ae4",
              "name": "price",
              "value": "99",
              "type": "string"
            },
            {
              "id": "7427632a-a08f-4f7c-8f92-15661f9bf0f5",
              "name": "compare_at_price",
              "value": "199",
              "type": "string"
            },
            {
              "id": "e2fa724d-5034-471f-89e6-1ffafba728e2",
              "name": "media_links",
              "value": "={{ $json.media_links || [] }}",
              "type": "array"
            },
            {
              "name": "beneficiu_1",
              "type": "string",
              "value": "⚡ Acces instant în colțuri imposibile, fără efort sau frustrări inutile.",
              "id": "f28f41fa-5d73-480b-a8a0-a95bdcf7b924"
            },
            {
              "name": "beneficiu_2",
              "type": "string",
              "value": "⚡ Acces instant în colțuri imposibile, fără efort sau frustrări inutile.",
              "id": "3940cd64-a01d-48f4-a667-fcdd40946a40"
            },
            {
              "name": "beneficiu_3",
              "type": "string",
              "value": "💪 Control total și stabilitate maximă datorită mânerului lateral ergonomic.",
              "id": "a3bfcb0a-f031-4987-9655-a60af8d918aa"
            },
            {
              "name": "beneficiu_4",
              "type": "string",
              "value": "🚀 Universal și versatil, compatibil cu orice mașină de găurit ai deja acasă.",
              "id": "05524e22-9cf0-4887-9eb3-f7673e659c46"
            },
            {
              "name": "section_1_title",
              "type": "string",
              "value": "Adio Spatii Inaccesibile",
              "id": "75eee4be-d405-49e8-adac-409c5fe00bf6"
            },
            {
              "name": "section_1_description",
              "type": "string",
              "value": "Uită de mobila demontată sau de zgârieturi. Ajungi instant în spatele cabinetelor sau între grinzi, rezolvând sarcina rapid.",
              "id": "495b79e5-5882-4b63-9cd4-6ae1460e93f7"
            },
            {
              "name": "section_2_title",
              "type": "string",
              "value": "Eficiență Fără Cheie",
              "id": "8fec9463-6c9b-4b3b-bab0-90393ccd6ccb"
            },
            {
              "name": "section_2_description",
              "type": "string",
              "value": "Mandrina de 10mm îți permite să schimbi accesoriile manual. Câștigi timp prețios și elimini stresul căutării cheii de mandrină.",
              "id": "a13d0b20-dc92-445a-a3ac-3d6ecf6b485c"
            },
            {
              "name": "section_3_title",
              "type": "string",
              "value": "Putere și Stabilitate",
              "id": "3dfe4aeb-9479-4587-8d66-37c5416958e8"
            },
            {
              "name": "section_3_description",
              "type": "string",
              "value": "Sistemul de angrenaje 1:1 și mânerul detașabil îți oferă forța necesară pentru a găuri precis, fără ca unealta să îți alunece din mână.",
              "id": "a497f4cd-c95b-48db-be9d-c696a70ffad6"
            },
            {
              "name": "rev_5_name",
              "type": "string",
              "value": "Simona P.",
              "id": "2b7d8a96-7d15-46b5-b570-ba06c98dbe21"
            },
            {
              "name": "rev_1_text",
              "type": "string",
              "value": "Genial pentru spații înguste! Am montat rafturile în 5 minute, recomand.",
              "id": "7705c69f-b52c-414f-a7f6-7fc45bdd9554"
            },
            {
              "name": "rev_1_name",
              "type": "string",
              "value": "Andrei V.",
              "id": "96bcab4b-816c-4d60-8ed0-d9cd749575cf"
            },
            {
              "name": "rev_2_text",
              "type": "string",
              "value": "Foarte robust și ușor de folosit. M-a salvat de multă muncă inutilă.",
              "id": "bd6823c0-98eb-4042-a768-a901b7c5742d"
            },
            {
              "name": "rev_2_name",
              "type": "string",
              "value": "Elena M.",
              "id": "1576eca8-a77f-4867-85f8-191a48cb5a46"
            },
            {
              "name": "rev_3_text",
              "type": "string",
              "value": "Calitate surprinzătoare. Se potrivește perfect pe bormașina mea veche, este foarte util.",
              "id": "4582a73b-1f9c-4e53-a2a0-75e10aae2504"
            },
            {
              "name": "rev_3_name",
              "type": "string",
              "value": "Marius D.",
              "id": "bd2865c3-c6d9-47bd-8c8b-7fdb6438a52a"
            },
            {
              "name": "rev_4_text",
              "type": "string",
              "value": "O soluție rapidă și eficientă. Nu ar trebui să lipsească din nicio trusă.",
              "id": "1ecebf64-691d-4df9-86ac-1b645aaf0dd8"
            },
            {
              "name": "rev_4_name",
              "type": "string",
              "value": "Cristian N.",
              "id": "0d002571-1204-48bb-90f8-f1a22033b4ac"
            },
            {
              "name": "rev_5_text",
              "type": "string",
              "value": "Ușor, dar puternic. Ajunge exact acolo unde nicio altă unealtă nu poate.",
              "id": "96c921f6-8862-420f-865c-19975235d924"
            },
            {
              "name": "faq_1_q",
              "type": "string",
              "value": "Î: Se potrivește acest adaptor cu bormașina mea cu acumulator?",
              "id": "e53de248-eec7-4468-bfdd-a9d81aa458d6"
            },
            {
              "name": "faq_1_a",
              "type": "string",
              "value": "R: Da, tija rotundă de 9.5mm este universală și se fixează perfect în orice mandrină standard de 3/8\", indiferent dacă unealta este cu fir sau acumulator.",
              "id": "888a9487-e5c5-4b3e-8b8b-a7199d6fb95a"
            },
            {
              "name": "faq_2_q",
              "type": "string",
              "value": "Î: Ce dimensiuni de burghie pot folosi cu acest dispozitiv?",
              "id": "ca9c1162-0e19-4504-9612-bfce5070f85b"
            },
            {
              "name": "faq_2_a",
              "type": "string",
              "value": "R: Mandrina keyless de înaltă calitate acceptă o gamă largă de accesorii, având o capacitate de deschidere între 0.8mm și 10mm.",
              "id": "0c8b8d65-b628-44f4-8688-a778272b30d4"
            },
            {
              "name": "faq_3_q",
              "type": "string",
              "value": "Î: Este rezistent pentru sarcini mai dificile în metal sau lemn dur?",
              "id": "096f4bc5-d351-4530-aa1d-829bb7d95dcf"
            },
            {
              "name": "faq_3_a",
              "type": "string",
              "value": "R: Adaptorul suportă un cuplu de 20-25 N·m și are angrenaje din oțel vanadiu, fiind ideal pentru lemn, plastic și reparații auto la viteze sub 500 RPM.",
              "id": "732bd9f1-20c8-4f08-a7a6-49950f5e4b36"
            },
            {
              "name": "faq_4_q",
              "type": "string",
              "value": "Î: Pot muta mânerul pe ambele părți ale adaptorului?",
              "id": "e448c203-5ad4-4d8d-a404-b9e00bcd147b"
            },
            {
              "name": "faq_4_a",
              "type": "string",
              "value": "R: Desigur! Mânerul este detașabil și poate fi înșurubat pe oricare dintre cele două părți ale corpului roșu din ABS, pentru un confort personalizat.",
              "id": "d9b18a70-4378-4f1c-9e0e-7b449460ba7a"
            },
            {
              "name": "rev_5_img",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "7577812b-a09e-4269-95d6-0d9b853f959c"
            },
            {
              "name": "rev_4_img",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "8c3aa4b4-72f5-4fb4-9fb1-08fa5b23b5c8"
            },
            {
              "name": "rev_3_img",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "c06b311e-c6df-428a-806b-42f68d20dab0"
            },
            {
              "name": "rev_2_img",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "1a19a408-c8bd-4ca2-9712-66df3b2fdf9f"
            },
            {
              "name": "rev_1_img",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "aed8b961-743e-4a1a-a06b-c8658b2c5a8f"
            },
            {
              "name": "section_3_image",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "7dd0fc03-1dbe-4312-be8c-445d1d2e0d47"
            },
            {
              "name": "section_2_image",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "393af9a4-dc9a-4c2c-b607-77a8de9ff6c2"
            },
            {
              "name": "section_1_image",
              "type": "string",
              "value": "gid://shopify/MediaImage/37873242177792",
              "id": "dde02eac-00e7-41df-8f4e-1fc4e612bcc3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1136,
        752
      ],
      "id": "2d04f3b8-d0ca-47da-9097-f45f56ddf5c6",
      "name": "Product FULL DATA - no images"
    },
    {
      "parameters": {
        "jsCode": "const input = items?.[0]?.json ?? {};\n\nfunction getNodeItemJson(nodeName) {\n  try {\n    return $items(nodeName, 0, 0)?.[0]?.json ?? {};\n  } catch (error) {\n    return {};\n  }\n}\n\nconst createProduct = getNodeItemJson(\"Create Product1\");\nconst fullDataNoImages = getNodeItemJson(\"Product FULL DATA - no images\");\nconst source = fullDataNoImages?.custom ?? fullDataNoImages;\n\nfunction normalizeProductGid(raw) {\n  if (raw == null || raw === \"\") return null;\n  const value = String(raw).trim();\n  if (value.startsWith(\"gid://shopify/Product/\")) return value;\n  const id = value.includes(\"/\") ? value.split(\"/\").pop() : value;\n  return id ? `gid://shopify/Product/${id}` : null;\n}\n\nfunction normalizeMediaImageGid(raw) {\n  if (raw == null || raw === \"\") return \"\";\n  const value = String(raw).trim();\n  if (value.startsWith(\"gid://shopify/MediaImage/\")) return value;\n  const id = value.includes(\"/\") ? value.split(\"/\").pop() : value;\n  return id ? `gid://shopify/MediaImage/${id}` : \"\";\n}\n\nconst productId = normalizeProductGid(\n  createProduct?.data?.productCreate?.product?.id ??\n  source?.product_id ??\n  input?.product_id ??\n  input?.data?.productCreate?.product?.id ??\n  null\n);\n\nif (!productId) {\n  throw new Error(\"Missing product id from Create Product1\");\n}\n\nconst NAMESPACE = \"custom\";\n\nconst firstBatchSchema = [\n  { key: \"beneficiu_1\", type: \"rich_text_field\" },\n  { key: \"beneficiu_2\", type: \"rich_text_field\" },\n  { key: \"beneficiu_3\", type: \"rich_text_field\" },\n  { key: \"beneficiu_4\", type: \"rich_text_field\" },\n  { key: \"section_1_title\", type: \"single_line_text_field\" },\n  { key: \"section_1_description\", type: \"rich_text_field\" },\n  { key: \"section_2_title\", type: \"single_line_text_field\" },\n  { key: \"section_2_description\", type: \"rich_text_field\" },\n  { key: \"section_3_title\", type: \"single_line_text_field\" },\n  { key: \"section_3_description\", type: \"rich_text_field\" },\n  { key: \"rev_1_text\", type: \"rich_text_field\" },\n  { key: \"rev_1_name\", type: \"single_line_text_field\" },\n  { key: \"rev_2_text\", type: \"rich_text_field\" },\n  { key: \"rev_2_name\", type: \"single_line_text_field\" },\n  { key: \"rev_3_text\", type: \"rich_text_field\" },\n  { key: \"rev_3_name\", type: \"single_line_text_field\" },\n  { key: \"rev_4_text\", type: \"rich_text_field\" },\n  { key: \"rev_4_name\", type: \"single_line_text_field\" },\n  { key: \"rev_5_text\", type: \"rich_text_field\" },\n  { key: \"rev_5_name\", type: \"single_line_text_field\" },\n];\n\nconst secondBatchSchema = [\n  { key: \"faq_1_q\", type: \"single_line_text_field\" },\n  { key: \"faq_1_a\", type: \"rich_text_field\" },\n  { key: \"faq_2_q\", type: \"single_line_text_field\" },\n  { key: \"faq_2_a\", type: \"rich_text_field\" },\n  { key: \"faq_3_q\", type: \"single_line_text_field\" },\n  { key: \"faq_3_a\", type: \"rich_text_field\" },\n  { key: \"faq_4_q\", type: \"single_line_text_field\" },\n  { key: \"faq_4_a\", type: \"rich_text_field\" },\n  { key: \"rev_5_img\", type: \"file_reference\" },\n  { key: \"rev_4_img\", type: \"file_reference\" },\n  { key: \"rev_3_img\", type: \"file_reference\" },\n  { key: \"rev_2_img\", type: \"file_reference\" },\n  { key: \"rev_1_img\", type: \"file_reference\" },\n  { key: \"section_3_image\", type: \"file_reference\" },\n  { key: \"section_2_image\", type: \"file_reference\" },\n  { key: \"section_1_image\", type: \"file_reference\" },\n];\n\nfunction toRichTextFieldString(value) {\n  return JSON.stringify({\n    type: \"root\",\n    children: [\n      {\n        type: \"paragraph\",\n        children: [\n          {\n            type: \"text\",\n            value: value == null ? \"\" : String(value),\n          },\n        ],\n      },\n    ],\n  });\n}\n\nconst fallbackImageId = normalizeMediaImageGid(\n  source?.image_id ??\n  fullDataNoImages?.image_id ??\n  input?.image_id ??\n  null\n);\n\nfunction formatValue(type, rawValue) {\n  if (type === \"rich_text_field\") {\n    return toRichTextFieldString(rawValue);\n  }\n\n  if (type === \"single_line_text_field\") {\n    return rawValue == null ? \"\" : String(rawValue);\n  }\n\n  if (type === \"file_reference\") {\n    const candidate = rawValue == null || rawValue === \"\" ? fallbackImageId : rawValue;\n    return normalizeMediaImageGid(candidate);\n  }\n\n  return rawValue == null ? \"\" : String(rawValue);\n}\n\nfunction buildMetafields(schema) {\n  return schema.map(({ key, type }) => ({\n    ownerId: productId,\n    namespace: NAMESPACE,\n    key,\n    type,\n    value: formatValue(type, source[key]),\n  }));\n}\n\nconst firstBatch = {\n  metafields: buildMetafields(firstBatchSchema),\n};\n\nconst secondBatch = {\n  metafields: buildMetafields(secondBatchSchema),\n};\n\nconst firstBatchString = JSON.stringify(firstBatch);\nconst secondBatchString = JSON.stringify(secondBatch);\n\nreturn [\n  { json: { variables: firstBatchString } },\n  { json: { variables: secondBatchString } },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        752
      ],
      "id": "6f48bca1-c5e8-42e1-989e-302f466599d4",
      "name": "Prepare Metafield batch update"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "mutation",
        "graphqlMutation": "mutation UpdateProductMetafield($metafields: [MetafieldsSetInput!]!) {\n  metafieldsSet(metafields: $metafields) {\n    metafields {\n      id\n      key\n      value\n    }\n    userErrors {\n      field\n      message\n    }\n  }\n}",
        "graphqlMutationVariables": "={{ $json.variables }}"
      },
      "type": "n8n-nodes-shopify-graphql.shopifyGraphql",
      "typeVersion": 1,
      "position": [
        -352,
        752
      ],
      "id": "64915213-f439-48cc-88ce-d86dd19b1c90",
      "name": "Set Metafields",
      "credentials": {
        "shopifyOAuth2Api": {
          "id": "MQCNOuZx8pVyyqhd",
          "name": "Shopify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2fa724d-5034-471f-89e6-1ffafba728e2",
              "name": "media_links",
              "value": "={{ ['https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg','https://nobili-design.com/storage/pages/841/lg/3054Modern_living_rooms_furniture_Francesco.webp','https://birchwoodfurniture.ca/wp-content/uploads/2023/07/Modern-Living-Room-Furniture-Ideas-Hero-768x504.jpg',] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1328,
        752
      ],
      "id": "aea3682c-57bc-43c6-aaf7-58217f71acd9",
      "name": "Images"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create New Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper search": {
      "main": [
        [
          {
            "node": "format results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format results": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Move Sheet file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Sheet": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Columns": {
      "main": [
        [
          {
            "node": "clean first row after column",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Sheet file": {
      "main": [
        [
          {
            "node": "Sheet headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet headers": {
      "main": [
        [
          {
            "node": "Create Columns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean first row after column": {
      "main": [
        [
          {
            "node": "Serper search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Product1": {
      "main": [
        [
          {
            "node": "set price and compare at price1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set price and compare at price1": {
      "main": [
        [
          {
            "node": "Prepare Metafield batch update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product FULL DATA - no images": {
      "main": [
        [
          {
            "node": "Create Product1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metafield batch update": {
      "main": [
        [
          {
            "node": "Set Metafields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Images": {
      "main": [
        []
      ]
    }
  },
  "pinData": {
    "format results": [
      {
        "title": "3L ABS Plastic Beer Tower Dispenser with LED Lights Summer Juice Drinks Container for Home Bar KTV Drinks Dispenser - AliExpress",
        "source": "AliExpress",
        "link": "https://www.aliexpress.com/i/1005008876919968.html",
        "imageUrl": "https://ae01.alicdn.com/kf/A35055c8d64ee43b8998cff895f19ee9aW.jpg"
      },
      {
        "title": "Amazon.com: BRIGHTFUFU Beer Tap Brush Black 3l Draft Beer Tower Led Lights Easy Cleaning Beverage Dispenser for Home : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/BRIGHTFUFU-Lights-Cleaning-Beverage-Dispenser/dp/B0F2J8Z19S",
        "imageUrl": "https://m.media-amazon.com/images/I/51Jev95GQaL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "simhoa Beer Dispenser with Colorful LED Light Iced Tea Cola Dispenser for Event Bar - Walmart.ca",
        "source": "Walmart",
        "link": "https://www.walmart.ca/en/ip/simhoa-Beer-Dispenser-with-Colorful-LED-Light-Iced-Tea-Cola-Dispenser-for-Event-Bar/4USN2F42A07Q",
        "imageUrl": "https://i5.walmartimages.com/asr/5c26ed38-dd6c-490e-a059-6d1943809efb.8b8119edb4c278d9b510c8270d3d1489.jpeg"
      },
      {
        "title": "Glowing Drink Dispenser with Tap Beer Tower Versatile Drinks Dispenser for Bar - Walmart.com",
        "source": "Walmart",
        "link": "https://www.walmart.com/ip/Glowing-Drink-Dispenser-with-Tap-Beer-Tower-Versatile-Drinks-Dispenser-for-Bar/5362541261",
        "imageUrl": "https://i5.walmartimages.com/asr/87ce337a-c83f-4e43-b7d1-f885c6226e31.d684761737ffa5f9360ccd9f46aaaa95.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
      },
      {
        "title": "Amazon.com: CHENYUEFA Dispensador de cerveza para bar, dispensador de bebidas para fiestas, bufé, máquina de bebidas, torre de cerveza, dispensador de bebidas, accesorios de bar para el hogar, 1.5L/2L/3L para : Industrial",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/-/es/CHENYUEFA-Dispensador-cerveza-dispensador-accesorios/dp/B0CX89PSJX",
        "imageUrl": "https://m.media-amazon.com/images/I/215fIDQGEfL.jpg"
      },
      {
        "title": "Bluetooth luminous draft beer keg 3L wine cannon beer keg wine set Internet celebrity draft beer dispenser - AliExpress 15",
        "source": "AliExpress",
        "link": "https://www.aliexpress.com/item/1005008988618940.html",
        "imageUrl": "https://ae01.alicdn.com/kf/Sa97c747d99ad47b380678b6f481d7ea2U.jpg_960x960.jpg"
      },
      {
        "title": "3L/101.45oz Triple Faucets Beer Dispenser Rose Gold Beer Dispenser For KTV, BBQs | eBay",
        "source": "eBay",
        "link": "https://www.ebay.com/itm/406443759474",
        "imageUrl": "https://i.ebayimg.com/images/g/ECAAAeSwYqtoa2op/s-l400.jpg"
      },
      {
        "title": "Bierspender mit farbenfrohen LED LED Light Juice Eced Kaffeespender für | eBay.de",
        "source": "eBay.de",
        "link": "https://www.ebay.de/itm/146451476517",
        "imageUrl": "https://i.ebayimg.com/images/g/A-0AAeSwK6Rn1TIv/s-l1200.jpg"
      },
      {
        "title": "Winston Porter Nuttall 640 Oz. Beverage Dispenser | Wayfair",
        "source": "Wayfair",
        "link": "https://www.wayfair.com/kitchen-tabletop/pdp/winston-porter-nuttall-640-oz-beverage-dispenser-w000455955.html",
        "imageUrl": "https://assets.wfcdn.com/im/52365070/resize-h400-w400^compr-r85/6704/67049199/Nuttall+3+-+Piece+Beverage+Dispenser+Set.jpg"
      },
      {
        "title": "Amazon.com: Muloo Dispensador de bebidas brillante con torre de bebidas de grifo, dispensador de bebidas versátil, perfecto para fiestas de bar y reuniones al aire libre : Hogar y Cocina",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/-/es/Dispensador-brillante-dispensador-versátil-reuniones/dp/B0D2CQTZ46",
        "imageUrl": "https://m.media-amazon.com/images/I/51aXjp9r2vL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: Beer Dispenser 3L Beer Tower Dispenser with LED Lights Beer Dispenser Drink Beverage Tower Dispenser for Water Cold Drinks Bar Home Party Buffet Drink Tower Beer Liquor Beverage Dispenser ( Color :",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Dispenser-Lights-Beverage-Drinks-Buffet/dp/B0CYLXR1RS",
        "imageUrl": "https://m.media-amazon.com/images/I/41jwa1+o+ZL._AC_UF350,350_QL50_.jpg"
      },
      {
        "title": "Amazon.com: Muloo Glowing Drink Dispenser with Tap Drinks Tower Versatile Drinks Dispenser Perfect for Bar Party and Outdoor Gatherings : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Muloo-Glowing-Dispenser-Versatile-Gatherings/dp/B0D2CQTZ46",
        "imageUrl": "https://m.media-amazon.com/images/I/51hHuL9IJwL._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "veasfak Beer Portable Beer Dispenser with Spigot for Outdoor Kitchens yellow - Walmart.ca",
        "source": "Walmart",
        "link": "https://www.walmart.ca/en/ip/veasfak-Beer-Portable-Beer-Dispenser-with-Spigot-for-Outdoor-Kitchens-yellow/4HD34O05QDMQ",
        "imageUrl": "https://i5.walmartimages.com/asr/3638a99a-516c-475d-8714-b225a469ab58.39c2f62ce105567209b63ae0ea01cb42.jpeg"
      },
      {
        "title": "Amazon.com | Beer tower Beer Tower Dispenser 3L Cold Draft Beer Tower Beverage Dispenser with Ice Tube, LED Lights and Tap for Birthday Party Bar, Orange Beer Tower Dispenser: Iced Beverage Dispensers",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Dispenser-Beverage-Lights-Birthday-Orange/dp/B0BVRMPCN1",
        "imageUrl": "https://m.media-amazon.com/images/I/41QmymC1O8S._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Amazon.com: TXGJWRA 1.5l Beverage Dispenser with Base Thickened Pc Bucket Drink Dispenser Beer Buffet Drink Machine Party Water Dispenser Beer,C : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/TXGJWRA-Beverage-Dispenser-Thickened-Machine/dp/B0DST2M1X6",
        "imageUrl": "https://m.media-amazon.com/images/I/51HAj75PdlL.jpg"
      },
      {
        "title": "Glowing Drink Dispenser with Tap Beer Tower Versatile Drinks Dispenser for Bar - Walmart.com",
        "source": "Walmart",
        "link": "https://www.walmart.com/ip/Glowing-Drink-Dispenser-with-Tap-Beer-Tower-Versatile-Drinks-Dispenser-for-Bar/5367679355",
        "imageUrl": "https://i5.walmartimages.com/asr/610909cb-284d-4941-948e-c41e8320f563.5ecafcb5cc9aaea4f9a3d07ffd1f78d8.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
      },
      {
        "title": "Amazon.com: LEIXIUSM Buffet Drink Machine Beer Tower 1.8L Clear Beverage Tower Dispenser with Included Ice Tube Beverage Dispenser(Yellow) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/LEIXIUSM-Machine-Beverage-Dispenser-Included/dp/B0DP2H1Y1K",
        "imageUrl": "https://m.media-amazon.com/images/I/311igJksqML._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: Beer Tower Dispenser, Drink Dispenser Drinks Dispenser for Parties Beer Tower Dispenser With 3 Taps And Freeze Tube 3L Clear Drink Dispenser Plastic Beverage Dispenser Comes With Stand, Spigot, Ice Co :",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/-/he/218945/dp/B0CQNLHW4F",
        "imageUrl": "https://m.media-amazon.com/images/I/41bfXGU4egL.jpg"
      },
      {
        "title": "Best Plastic Beer Barrels - Durable & Versatile Solutions",
        "source": "Alibaba.com",
        "link": "https://www.alibaba.com/showroom/plastic-beer-barrel.html",
        "imageUrl": "https://s.alicdn.com/@sc04/kf/H93c72795bfab4849a3d196ba2a042493V/Modern-Design-3L-Plastic-Wine-Gun-Luminous-Draft-Beer-Barrel-for-Party-Occasions-Bluetooth-enabled-Beer-Tower.jpg_300x300.jpg"
      },
      {
        "title": "Beverage dispenser with tap, ideal for spirits and outdoor events, yellow 1.5 L Ref: 6767 - Walmart.ca",
        "source": "Walmart.ca",
        "link": "https://www.walmart.ca/en/ip/Beverage-dispenser-with-tap-ideal-for-spirits-and-outdoor-events-yellow-1-5-L-Ref-6767/5NZVAAWX1L8K",
        "imageUrl": "https://i5.walmartimages.com/asr/f1e42153-eea8-4891-9450-56b5d63ba74b.9e17c09c46723cff93d24b8dac56a6c3.jpeg"
      },
      {
        "title": "Glowing Drink Dispenser with Tap Beer Tower Versatile Drinks Dispenser for Bar - Walmart.com",
        "source": "Walmart",
        "link": "https://www.walmart.com/ip/Glowing-Drink-Dispenser-with-Tap-Beer-Tower-Versatile-Drinks-Dispenser-for-Bar/5498618567",
        "imageUrl": "https://i5.walmartimages.com/asr/f84c2f30-b945-479b-afc6-94ddc2a21bd2.04844858fbc320dd9458deb22ede518d.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
      },
      {
        "title": "Amazon.com: ZTHYSHXA Beer Dispenser Beer Tower Dispenser 3L Cold Draft Beer Tower Beverage Dispenser with Ice Tube, LED Lights and Tap for Birthday Party Bar, Orange Drink Tower Beer Liquor Beverage Dispenser :",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/ZTHYSHXA-Dispenser-Beverage-Lights-Birthday/dp/B0CYM3BLFR",
        "imageUrl": "https://m.media-amazon.com/images/I/51tNEMTVHfS._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Amazon.com | KAREHSBI Beer Tower Dispenser Beer Beverage Tower Dispenser with Ice Tube and Tap, Straight Keg Juice Tower, 1.5L/ 3L Beer Machine Tool Club Accessories, Orange Beverage Tower Dispenser: Iced Beverage",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/KAREHSBI-Dispenser-Beverage-Straight-Accessories/dp/B0CZL6MZDW",
        "imageUrl": "https://m.media-amazon.com/images/I/41szNOpQ3CS._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: Beer tower 3 Liter Beer Dispenser with Faucet Commercial Lighted Beer Keg Beer Tower with Removable Icicles for Home, Restaurant, Hotel Beer Tower Dispenser (Color : Black): Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Dispenser-Commercial-Lighted-Removable-Restaurant/dp/B0BVRRT5BN",
        "imageUrl": "https://m.media-amazon.com/images/I/71iMGQKbe0L._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: JOMRTS Beer Tower Dispenser Colorful Lights Drink Beer Tower, Beer Beverage Dispenser, with Faucet and Ice Tubes, Perfect for for Bar Family Buffet KTV Beverage Tower (3L) : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/JOMRTS-Dispenser-Colorful-Beverage-Perfect/dp/B0DXL5WMNM",
        "imageUrl": "https://m.media-amazon.com/images/I/51Z2nr3B1GS.jpg"
      },
      {
        "title": "Wildnix 3L Beverage Dispenser with LED Light, &nbsp; PC & ABS, Portable, Free-Standing, Ideal for Tea and Drinks with One-Touch Faucet - Walmart.com",
        "source": "Walmart",
        "link": "https://www.walmart.com/ip/Wildnix-3L-Beverage-Dispenser-with-LED-Light-nbsp-PC-ABS-Portable-Free-Standing-Ideal-for-Tea-and-Drinks-with-One-Touch-Faucet/15268423597",
        "imageUrl": "https://i5.walmartimages.com/asr/7786774d-b862-4d07-864e-7271c50e55a8.97299aab90cd5995deaf1d364f07e10e.jpeg"
      },
      {
        "title": "Amazon.com: NPQPNAFC Beer tower 1.5L Wine Beer Cannon Hotel Bar Cocktail Beer Dispenser Black Tea Bucket Restaurant Tea Drink Appliance Gift Wine Pourer Beer Tower Dispenser(Color:Yellow 1.5l) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/NPQPNAFC-Cocktail-Dispenser-Restaurant-Appliance/dp/B0D5LHM8P9",
        "imageUrl": "https://m.media-amazon.com/images/I/41Tj8mQugBL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "NAIXING 3L / 101OZ Beer Tower Dispenser Drink Dispenser with Ice Tube and LED Lights Keg Tap for Kitchen Party: Iced Beverage Dispensers - Amazon.com",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/NAIXING-101OZ-Dispenser-Lights-Kitchen/dp/B0D5QF6SQF",
        "imageUrl": "https://m.media-amazon.com/images/I/71D2DbFHd9L._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Ball Shape Beer Tower Dispenser with LED Light Ice Tube, Football Game, Colorful Bar, 3 Liters - AliExpress 15",
        "source": "AliExpress",
        "link": "https://www.aliexpress.com/item/32907185067.html",
        "imageUrl": "https://ae01.alicdn.com/kf/Hb37634e0742f4a9ab0f2e8b274d0e54cD.jpg"
      },
      {
        "title": "Amazon.com: GXFCHYL 3L Beer Tower Dispenser with Spigot & LED Light, Plastic Beverage Dispenser Water Tea Juice Drink Dispenser for Home, Restaurant, Hotel, Party, Bar (Champagne Gold, Yellow) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/GXFCHYL-Dispenser-Beverage-Restaurant-Champagne/dp/B0F48HQG35",
        "imageUrl": "https://m.media-amazon.com/images/I/51YhRs2GxFL._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Portable Bar Draft Beer Beverage Bucket 3L Plastic Beer Tower Used for Festival Parties and Outdoor Portable Dispensers| Alibaba.com",
        "source": "Alibaba.com",
        "link": "https://www.alibaba.com/product-detail/Portable-Bar-Draft-Beer-Beverage-Bucket_1601219876660.html",
        "imageUrl": "https://sc04.alicdn.com/kf/Haa74a8d082164d80952c5a7db09a6702A.jpg"
      },
      {
        "title": "Amazon.com: SDVantage Beer Tower Dispenser 3L High Capacity Beverage Dispenser with LED Light Tabletop Beer Tower for Beer Drink Wine Cocktail Margarita Drink Tower Dispenser，Pearl Silver : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/SDVantage-Dispenser-Capacity-Margarita-Dispenser，Pearl/dp/B0DR5TDSL4",
        "imageUrl": "https://m.media-amazon.com/images/I/516wThZVVVL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Bottles - Trade Kite 3L Beer Tower Dispenser with LED Light & Speaker - for Party for sale in Pretoria / Tshwane (ID:674492281)",
        "source": "Bob Shop",
        "link": "https://www.bobshop.co.za/trade-kite-3l-beer-tower-dispenser-with-led-light-speaker-for-party/p/674492281",
        "imageUrl": "https://img.bobshop.co.za/f_auto,q_auto:eco,d_notfound.png/user/5089877/1_vnpXcGSh9.webp"
      },
      {
        "title": "Glowing Drink Dispenser Eye Catching Beverage Column Party Supplies Must Have for Social Gatherings Outdoor Activities - Walmart.com",
        "source": "Walmart",
        "link": "https://www.walmart.com/ip/Glowing-Drink-Dispenser-Eye-Catching-Beverage-Column-Party-Supplies-Must-Have-for-Social-Gatherings-Outdoor-Activities/18191557779",
        "imageUrl": "https://i5.walmartimages.com/asr/b6bb0c48-cd04-4997-a839-2b1eacd27359.ed3fe5bfacdc0f7d7cc1a3fe98f53d25.jpeg?odnHeight=768&odnWidth=768&odnBg=FFFFFF"
      },
      {
        "title": "Amazon.com: DJFKDYHPE Drink Dispenser,Beer Tower Dispenser,Clear Drink Dispenser, for Parties Beer(Yellow,1.8L) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/DJFKDYHPE-Drink-Dispenser-Parties-Yellow/dp/B0DBKF4K9P",
        "imageUrl": "https://m.media-amazon.com/images/I/51qN8F87BCL.jpg"
      },
      {
        "title": "Beer Tower Dispenser with Colorful LED Light Iced Tea Cola Dispenser for Pub | eBay UK",
        "source": "eBay UK",
        "link": "https://www.ebay.co.uk/itm/256859874660",
        "imageUrl": "https://i.bosity.com/product_img/271/70111929/70111929_13_image.jpg"
      },
      {
        "title": "Amazon.com: TXGJWRA Beer Tower Dispenser 3L/100oz with Detachable Ice Tube and Light Mimosa Drink Dispenser with Tap for Bars Restaurant Beer, : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/TXGJWRA-Dispenser-Detachable-Mimosa-Restaurant/dp/B0DST5BJFD",
        "imageUrl": "https://m.media-amazon.com/images/I/415m5UgiSsL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: ATRNA Beer Tower, Beverage Bar Beer Beverage Barrel Machine Juice Barrel Drop Beer Tower Wine Column : 居家與廚房",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/-/zh_TW/dp/B098B4VJB6",
        "imageUrl": "https://m.media-amazon.com/images/I/61YwcpOVxDS._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Tecate Ale Beer Tower Tap Handle - Explore China Wholesale Tecate Beer Tap Handles and Custom Beer Tap Handle, Beer Tap Handles, Bar Accessories | Globalsources.com",
        "source": "Global Sources",
        "link": "https://www.globalsources.com/product/tecate-beer-tap-handles_1204702627f.htm",
        "imageUrl": "https://p.globalsources.com/IMAGES/PDT/S1166882042/beer-tower-with-ice-tube.jpg?ver=6103306566"
      },
      {
        "title": "Amazon.com | 0.79 Gallon Beverage Dispenser With Champagne Gold Stand,Single Tank Water Ice Tea Beer Margarita Juice Drink Dispenser with LED White Light,Water Jar Dispenser with Spigot for Home Bar Parties: Iced",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Beverage-Dispenser-Champagne-Margarita-Parties/dp/B0CVX39LLN",
        "imageUrl": "https://m.media-amazon.com/images/I/51tqSq3iBgL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: JOMRTS Beer Dispenser Tabletop Beer Dispenser 3 Liter Beer Dispenser with Faucet Commercial Lighted Beer Keg Beer Tower with Removable Icicles for Home, Restaurant (Black) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/JOMRTS-Dispenser-Commercial-Removable-Restaurant/dp/B0DXL2W7DW",
        "imageUrl": "https://m.media-amazon.com/images/I/71b3nhtDC5L._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Drink Dispenser, Beverage Tower Dispenser, Illuminated Yellow Tower With Ice Tube And Tap For Spirits And Water, Home Bar | Fruugo US",
        "source": "Fruugo US",
        "link": "https://www.fruugo.us/beverage-dispenser-with-ice-tube-and-tap-illuminated-tower-for-home-bar-yellow/p-400154967-851615564?language=en",
        "imageUrl": "https://img.fruugo.com/product/0/74/2079726740_max.jpg"
      },
      {
        "title": "Beer Tower Beverage Drink Dispenser with Ice Tube & 3 Taps (Keep Fresh & Cold), 0.8 Gallon Wine Beverage Dispenser for Parties, Bar, Weddings, Barbecue Restaurant, Cafe, KTV, Outdoor RV Camper: Iced Beverage Dispensers - Amazon.com",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Beverage-Dispenser-Weddings-Barbecue-Restaurant/dp/B0BR5N9M5V",
        "imageUrl": "https://m.media-amazon.com/images/I/71wmtLD0ZyL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: DJFKDYHPE Beer Tower, 1.5L/3L Drink Dispenser, Tabletop Beer Tower,Stainless Steel & PE Beverage Dispenser for Party Home Bar Use Beverage Dispe(Rojo,3L) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/DJFKDYHPE-Dispenser-Tabletop-Stainless-Beverage/dp/B0DBKHM9JW",
        "imageUrl": "https://m.media-amazon.com/images/I/71GjqWs5P2L.jpg"
      },
      {
        "title": "Amazon.com: Haiyou 4 Sets Replacement Cooler Faucet Water Bottle Jug, Dispenser Tap Spigot Spout Water Beverage Lever Pour Dispenser : Tools & Home Improvement",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Haiyou-Replacement-Cooler-Dispenser-Beverage/dp/B0DDS972R8",
        "imageUrl": "https://m.media-amazon.com/images/I/617u7gkgibL.jpg"
      },
      {
        "title": "Party Restaurant Customization Food Grade PP Plastic Material Drink Dispenser Single Tap Beer Tower - Beer Tower and Beer Dispenser price | Made-in-China.com",
        "source": "Made-in-China.com",
        "link": "https://m.made-in-china.com/product/Party-Restaurant-Customization-Food-Grade-PP-Plastic-Material-Drink-Dispenser-Single-Tap-Beer-Tower-2153843635.html",
        "imageUrl": "https://image.made-in-china.com/2f0j00TtleqYjIbJcb/Party-Restaurant-Customization-Food-Grade-PP-Plastic-Material-Drink-Dispenser-Single-Tap-Beer-Tower.webp"
      },
      {
        "title": "Amazon.com: TXGJWRA Beer Tower Dispenser Creative Drink Dispenser with Ice Tube and Lights Beverages Dispenser for Kitchen Parties,Gold-1.5L : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/TXGJWRA-Dispenser-Creative-Beverages-Gold-1-5L/dp/B0DSSRV1B6",
        "imageUrl": "https://m.media-amazon.com/images/I/41FEQQ2vo9L._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: Drink Dispenser, Beer Tower Dispenser Beer Tubes Beverage Tower Dispenser with Durable Faucet, 1.5L/ 3L, Straight Barrel Drinks Dispenser for Home Bar Parties, Orange Drink Beverage Dispenser(3L) : Industrial & Scientific",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Dispenser-Beverage-Durable-Straight-Parties/dp/B0F7HHX6XH",
        "imageUrl": "https://m.media-amazon.com/images/I/51AqOKq4d7L.jpg"
      },
      {
        "title": "LED Ice Tube 3 Liter Drink Beer Tower Dispenser - OEM Service",
        "source": "Alibaba",
        "link": "https://www.alibaba.com/product-detail/Factory-LED-Ice-Tube-3-Liter_60560061748.html",
        "imageUrl": "https://sc04.alicdn.com/kf/HTB1eFRsegvD8KJjy0Fl761gBFXax.png"
      },
      {
        "title": "Amazon.com: LBGMEIG Drink 3L/101OZ Square Beer Tower Dispenser, Drink Tower with LED Lights and Ice Tube, PC Beer Barrel, Beverage Dispenser Ice Tube : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/LBGMEIG-Square-Dispenser-Lights-Beverage/dp/B0D2XV7G4J",
        "imageUrl": "https://m.media-amazon.com/images/I/610FDTTp34L._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "3L/100oz Beer Tower Beverage Dispenser w/ Ice Container and LED Light & 3 Faucet | eBay",
        "source": "eBay",
        "link": "https://www.ebay.com/itm/227176193073",
        "imageUrl": "https://i.ebayimg.com/images/g/IGsAAeSwJetonEob/s-l1200.jpg"
      },
      {
        "title": "Amazon.com | 3 Liters Beverage Dispenser Tabletop Chiller And Beverage Dispenser Beer Tower With Ice Tube Chill Rod For Party Bar Restaurant (Black): Iced Beverage Dispensers",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Beverage-Dispenser-Tabletop-Chiller-Restaurant/dp/B0D9GQT5HS",
        "imageUrl": "https://m.media-amazon.com/images/I/51-zpxo3eaL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com | 3L Beverage Dispenser, Water Juice Drink Dispenser Plastic Drink Dispenser Lemonade Dispenser for Parties, Drink Tower, Holds 6 Pints of Beer. (Black): Iced Beverage Dispensers",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/Beverage-Dispenser-Plastic-Lemonade-Parties/dp/B0CTY6JV8W",
        "imageUrl": "https://m.media-amazon.com/images/I/51biRMi3gEL._AC_UF894,1000_QL80_.jpg"
      },
      {
        "title": "Amazon.com: LBGMEIG Drink Orange Beer Tower Dispenser, Large Capacity Drink Tower with Light, Ice Tube and and Tap, Easy Clean Drink Dispenser for Party Ice Tube, 3L : Home & Kitchen",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/LBGMEIG-Drink-Orange-Dispenser-Capacity/dp/B0D3CTDNMD",
        "imageUrl": "https://m.media-amazon.com/images/I/61afkdzRznL._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Efficient and Stylish new style beer tap Solutions for Your Business",
        "source": "Alibaba",
        "link": "https://www.alibaba.com/showroom/new-style-beer-tap.html",
        "imageUrl": "https://s.alicdn.com/@sc04/kf/H7ccd1063379942a0bb1920b82468939de/New-Style-Personalized-Logo-1.5L-2L-3L-Plastic-One-Tap-Drink-Juice-Milk-Wine-Beer-Tower-With-Ice-Tube-Cooling.png_300x300.jpg"
      },
      {
        "title": "Amazon.com: NPQPNAFC Beer dispenser Tabletop Beer Dispenser 1.5L Wine Beer Cannon Hotel Bar Cocktail Beer Dispenser Black Tea Bucket Restaurant Tea Drink Appliance Gift Wine Pourer Beer Tower Dispenser (Color : S :",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/NPQPNAFC-dispenser-Dispenser-Restaurant-Appliance/dp/B0D5LGY4K1",
        "imageUrl": "https://m.media-amazon.com/images/I/41Tj8mQugBL.jpg"
      },
      {
        "title": "JJCC 3L Beer Column with Ice Cooling, Beer Tower with LED Light, Beer Dispenser, Drinks Dispenser with Tap, Drinking Column Ideal for Party, Bar and Home : Home & Kitchen - Amazon.com",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/JJCC-Column-Cooling-Dispenser-Drinking/dp/B094DFHCZ7",
        "imageUrl": "https://m.media-amazon.com/images/I/71ZGVVCNPZS._AC_UF350,350_QL80_.jpg"
      },
      {
        "title": "Amazon.com | WELKOR Hot and Cold Beverage Dispenser with Stand, 0.79 Gallon All-in-One Commercial Drink Dispenser with Ice Core&Stainless Steel Drip Trays for Parties, Beer Bar, Coffee (1 HEAD-0.79 GAL, GOLD): Iced",
        "source": "Amazon.com",
        "link": "https://www.amazon.com/WELKOR-Dispenser-Commercial-Stainless-HEAD-0-79/dp/B0FP2BB1QL",
        "imageUrl": "https://m.media-amazon.com/images/I/61fqClmx2wL._AC_UF350,350_QL50_.jpg"
      },
      {
        "title": "Hotel commercial Fruit Juice Dispenser 3L Beer Dispenser Beer Tower Beverage Dispenser with Ice Tube Hot led light Beer Tower | BestSuppliers.com",
        "source": "BestSuppliers",
        "link": "https://m.bestsuppliers.com/products/xnk5yxgrcc8c/hotel-commercial-fruit-juice-dispenser-3l-beer-dispenser-beer-tower-beverage-dispenser-with-ice-tube",
        "imageUrl": "https://cdn.bestsuppliers.com/seo_products_img/sdljsj/8824bdddcc123947b4fad98c4987363b.png!/rotate/180"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "da67fcc8dfca03d3261c9584dfafe4aa8618da738cab6aff809cab91ce61c81f"
  }
}